{% load static %}
<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-flex align-items-center text-white p-2">
  <div class="container d-flex justify-content-center justify-content-md-between">
    <div class="contact-info d-flex align-items-center">
      <a href="tel:+01988353282" class="text-white"><i class="feather-phone text-danger p-2"></i>+01988353282</a>
      <a href="mailto:zh@bloodlagbe.com" class="text-white"><i class="feather-mail text-danger p-2"></i>zh@bloodlagbe.com</a>
    </div>
    {% if user.is_authenticated %}
      <div class="d-none d-md-block text-white">
        Welcome, {{ user.first_name|default:user.phone }}
      </div>
    {% endif %}
  </div>
</section>
<!-- navigation top-->
<div id="navbar" class="nav-header bg-white border-0">
  <div class="container d-flex justify-content-center justify-content-md-between align-items-center">

    <div class="nav-top">
      <a href="/"><img class="ml-0" src="{% static 'images/logo/blood_lagbe_logo-v2.png' %}" alt="Blood Lagbe" style="width: 90px;"></a>
      <button class="nav-menu me-0 ms-2"></button>
    </div>

    <a href="/" class="p-2 text-center ms-3 menu-icon center-menu-icon"><i class="feather-home font-lg alert-light bg-greylight btn-round-lg theme-dark-bg text-danger"></i></a>
    <a href="{% url 'blogapp:blog-view' %}" class="p-2 text-center ms-0 menu-icon center-menu-icon"><i class="feather-book-open font-lg bg-greylight btn-round-lg theme-dark-bg text-grey-500"></i></a>
    {% if user.is_authenticated %}
      <a href="{% url 'log-donation' %}" class="p-2 text-center ms-0 menu-icon center-menu-icon"><i class="feather-award font-lg bg-greylight btn-round-lg theme-dark-bg text-grey-500"></i></a>
    {% endif %}

    {% if user.is_authenticated %}
      <a href="#" class="p-2 text-center ms-auto menu-icon" id="dropdownMenu3" data-bs-toggle="dropdown" aria-expanded="false"><i class="feather-user font-xl text-current"></i></a>
      <div class="dropdown-menu dropdown-menu-end p-4 rounded-3 border-0 shadow-lg" aria-labelledby="dropdownMenu3">
        <h4 class="fw-700 font-xss mb-3">{{ user.first_name|default:user.phone }}</h4>
        <a href="{% url 'log-donation' %}" class="d-block mb-2">My Donations</a>
        <a href="{% url 'logout' %}" class="d-block">Logout</a>
      </div>
    {% else %}
      <a href="{% url 'login' %}" class="p-2 text-center ms-auto menu-icon"><i class="feather-log-in font-xl text-current"></i></a>
      <a href="{% url 'signup' %}" class="p-2 text-center ms-2 menu-icon"><i class="feather-user-plus font-xl text-current"></i></a>
    {% endif %}
  </div>
</div>
<!-- navigation top -->
