{% block content %}
  <div class="container">
    <div class="block-end">
        <div class="head-notice">
            <div class="login_form">
                <div class="form">
                    <h2 class="form_tittle">FORGOT PASSWORD</h2>
                    <p>Enter your email address and we'll send you a link to reset your password.</p>
                    <form method="POST">
                        {% csrf_token %}

                        <div class="form-row">
                            <div class="col-sm-18 container">

                                <div class="form-group">
                                    {{ form.email.errors }}
                                    <label for="{{ form.email.id_for_label }}">Email</label>
                                    {{ form.email }}
                                </div>
                                <br>
                                <button class="btn btn-primary btn-block" type="submit">Send Reset Link</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}
