{% block content %}
  <div class="container">
    <div class="block-end">
        <div class="head-notice">
            <div class="login_form">
                <div class="form">
                    {% if validlink %}
                        <h2 class="form_tittle">SET NEW PASSWORD</h2>
                        <form method="POST">
                            {% csrf_token %}

                            <div class="form-row">
                                <div class="col-sm-18 container">

                                    <div class="form-group">
                                        {{ form.new_password1.errors }}
                                        <label for="{{ form.new_password1.id_for_label }}">New Password</label>
                                        {{ form.new_password1 }}
                                        <small class="text-muted">Your password can't be too similar to your other personal information.</small>
                                        <small class="text-muted">Your password must contain at least 8 characters.</small>
                                        <small class="text-muted">Your password can't be a commonly used password.</small>
                                        <small class="text-muted">Your password can't be entirely numeric.</small>
                                    </div>

                                    <div class="form-group">
                                        {{ form.new_password2.errors }}
                                        <label for="{{ form.new_password2.id_for_label }}">Confirm New Password</label>
                                        {{ form.new_password2 }}
                                    </div>
                                    <br>
                                    <button class="btn btn-primary btn-block" type="submit">Set Password</button>
                                </div>
                            </div>
                        </form>
                    {% else %}
                        <h2 class="form_tittle">LINK EXPIRED</h2>
                        <p>
                            The password reset link was invalid, possibly because it has
                            already been used or has expired. Please request a new password
                            reset.
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}
