{% block content %}
  <div class="container">
    <div class="block-end">
        <div class="head-notice">
            <div class="login_form">
                <div class="form">
                    <h2 class="form_tittle">PASSWORD RESET COMPLETE</h2>
                    <p>Your password has been set. You may go ahead and log in now.</p>
                    <a class="btn btn-primary btn-block" href="{% url 'login' %}">Log In</a>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}
