{% extends 'base/base.html' %}
{% load widget_tweaks %}

{% block title %}Register{% endblock title %}

{% block body %}
<div class="middle-sidebar-bottom">
  <div class="middle-wrap container mt-4 mb-4" style="max-width: 480px;">
    <div class="card w-100 border-0 shadow-xs p-4">
      <h2 class="fw-700 font-md mb-3">Register</h2>

      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
      {% endif %}

      <form method="post">
        {% csrf_token %}

        <div class="form-group mb-3">
          {{ registration_form.first_name.errors }}
          <label for="{{ registration_form.first_name.id_for_label }}">First Name</label>
          {{ registration_form.first_name|add_class:"form-control" }}
        </div>

        <div class="form-group mb-3">
          {{ registration_form.last_name.errors }}
          <label for="{{ registration_form.last_name.id_for_label }}">Last Name</label>
          {{ registration_form.last_name|add_class:"form-control" }}
        </div>

        <div class="form-group mb-3">
          {{ registration_form.phone.errors }}
          <label for="{{ registration_form.phone.id_for_label }}">Phone Number*</label>
          {{ registration_form.phone|add_class:"form-control" }}
          <small class="text-muted">Required. Add a valid phone number</small>
        </div>

        <div class="form-group mb-3">
          {{ registration_form.email.errors }}
          <label for="{{ registration_form.email.id_for_label }}">Email</label>
          {{ registration_form.email|add_class:"form-control" }}
        </div>

        <div class="form-group mb-3">
          {{ registration_form.password1.errors }}
          <label for="{{ registration_form.password1.id_for_label }}">Password</label>
          {{ registration_form.password1|add_class:"form-control" }}
          <small class="text-muted d-block">Your password can't be too similar to your other personal information.</small>
          <small class="text-muted d-block">Your password must contain at least 8 characters.</small>
          <small class="text-muted d-block">Your password can't be a commonly used password.</small>
          <small class="text-muted d-block">Your password can't be entirely numeric.</small>
        </div>

        <div class="form-group mb-3">
          {{ registration_form.password2.errors }}
          <label for="{{ registration_form.password2.id_for_label }}">Confirm Password</label>
          {{ registration_form.password2|add_class:"form-control" }}
          <small class="text-muted">Enter the same password as before, for verification.</small>
        </div>

        <button class="btn btn-danger btn-block" type="submit">Register</button>
        <a href="{% url 'login' %}" class="d-block mt-2">Already have an account? Login</a>
      </form>
    </div>
  </div>
</div>
{% endblock body %}
