{% extends 'base/base.html' %}
<!-- static -->
{% load static %}
<!-- Body content -->
{% block body %}

<!-- main content -->
<div class="main-content pt-0 bg-white ps-0 pe-0">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 d-none d-xl-block p-0 vh-80 bg-image-contain
      bg-image-center bg-no-repeat" style="background-image: url({% static 'images/19198095.jpg' %})">
    </div>
    <div
      class="col-xl-6 vh-80 align-items-center d-flex bg-white rounded-3 overflow-hidden"
    >
      <div class="card shadow-none border-0 ps-lg--5 me-auto coming-soon-card">
        <div class="card-body rounded-0 text-left pt-md-5 mt-md-5 ps-0 pe-0">
          <h5 class="fw-700 text-grey-900 display3-size display4-md-size lh-2">
            ব্লাড লাগবে হল রক্তদাতা ও গ্রহীতার জন্য একটি দ্রুত, সহজ এবং নিরাপদ
            প্ল্যাটফর্ম।
          </h5>
          <div class="form-group mt-4 p-1 p-2 bg-white rounded-3">
            <div class="row">
              <div class="d-flex justify-contain-space-around m-2 ">

                <a
                  href="#find-donors"
                  class="c-border-danger w-100 d-block btn bg-white text-danger font-xssss fw-600 ls-3 style1-input m-2 p-0 border-0 text-uppercase"
                  >রক্ত খুঁজুন <i class="feather-search font-lg mt-1"></i></a
                >
                <a
                  href="{% if user.is_authenticated %}{% url 'log-donation' %}{% else %}{% url 'signup' %}{% endif %}"
                  class="border-danger w-100 d-block btn bg-current text-white font-xssss fw-600 ls-3 style1-input m-2 p-0 border-0 text-uppercase"
                  >আমাদের সাথে যুক্ত হন <i class="feather-arrow-right font-lg mt-1"></i></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- main content -->


      <!-- ======= Why Us Section ======= -->
      <section id="why-us" class="why-us">
        <div class="container">
          <div class="row">
            <div
              class="col-lg-4 mt-4 mt-lg-0"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <div class="box">
                <span>Who can donate?</span>
                <p>
                  You need to be 18-65 years old, weigh 45kg or more and be fit
                  and healthy.
                </p>
              </div>
            </div>

            <div
              class="col-lg-4 mt-4 mt-lg-0"
              data-aos="fade-up"
              data-aos-delay="150"
            >
              <div class="box">
                <span>How long does it take?</span>
                <p>15 minutes to donate.</p>
              </div>
            </div>

            <div
              class="col-lg-4 mt-4 mt-lg-0"
              data-aos="fade-up"
              data-aos-delay="150"
            >
              <div class="box">
                <span>How often can I donate?</span>
                <p>Every 12 weeks</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Why Us Section -->

  <!-- Blood groups -->
  <div class="container" id="find-donors">
    <div class="row">
      <h2 class="fw-700 mb-0 mt-0 font-md text-grey-900">Find Donors</h2>
      <div class="col-6 row p-3">
        <div class="col-lg-3">
          <img src="{% static "images/blood_group/A+ve.png" %}" alt=""
          width="100%">
        </div>
        <div class="col-lg-3">
          <img src="{% static "images/blood_group/A-ve.png" %}" alt=""
          width="100%">
        </div>
        <div class="col-lg-3">
          <img src="{% static "images/blood_group/B+ve.png" %}" alt=""
          width="100%">
        </div>
        <div class="col-lg-3">
          <img src="{% static "images/blood_group/B-ve.png" %}" alt=""
          width="100%">
        </div>
        <div class="col-lg-3">
          <img src="{% static "images/blood_group/AB+ve.png" %}" alt=""
          width="100%">
        </div>
        <div class="col-lg-3">
          <img src="{% static "images/blood_group/AB-ve.png" %}" alt=""
          width="100%">
        </div>
        <div class="col-lg-3">
          <img src="{% static "images/blood_group/O+ve.png" %}" alt=""
          width="100%">
        </div>
        <div class="col-lg-3">
          <img src="{% static "images/blood_group/O-ve.png" %}" alt=""
          width="100%">
        </div>
      </div>
      <div class="col-6">
        <div class="table-responsive">
          <table class="table table-bordered align-middle">
            <thead>
              <tr>
                <th colspan="3" class="bg-danger text-white">
                  Compatible Blood Type Donors
                </th>
              </tr>
              <tr>
                <th>Blood Type</th>
                <th>Donate Blood To</th>
                <th>Receive Blood From</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-danger fw-700">A+</td>
                <td>A+ AB+</td>
                <td>A+ A- O+ O-</td>
              </tr>
              <tr>
                <td class="text-danger fw-700">O+</td>
                <td>O+ A+ B+ AB+</td>
                <td>O+ O-</td>
              </tr>
              <tr>
                <td class="text-danger fw-700">B+</td>
                <td>B+ AB+</td>
                <td>B+ B- O+ O-</td>
              </tr>
              <tr>
                <td class="text-danger fw-700">AB+</td>
                <td>AB+</td>
                <td>Everyone</td>
              </tr>
              <tr>
                <td class="text-danger fw-700">A-</td>
                <td>A+ A- AB+ AB-</td>
                <td>A- O-</td>
              </tr>
              <tr>
                <td class="text-danger fw-700">O-</td>
                <td>Everyone</td>
                <td>O-</td>
              </tr>
              <tr>
                <td class="text-danger fw-700">B-</td>
                <td>B+ B- AB+ AB-</td>
                <td>B- O-</td>
              </tr>
              <tr>
                <td class="text-danger fw-700">AB-</td>
                <td>AB+ AB-</td>
                <td>AB- A- B- O-</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  {% include 'pages/top_donors.html' %}

  <div class="row justify-content-center mb-3">
    <div class="col-xl-12">
      <div
        class="card w-100 border-0 p-0 rounded-3 overflow-hidden bg-image-contain bg-image-center"
        style="background-image: url({% static 'images/bg-2.png' %})"
      >
        <div
          class="card-body p-md-5 p-4 text-center"
          style="background-color: rgba(0, 85, 255, 0.8)"
        >
          <h2 class="fw-700 display2-size text-white display2-md-size lh-2">
            Ready to save a life?
          </h2>
          <p class="font-xsss ps-lg-5 pe-lg-5 lh-28 text-grey-200">
            Every donation can save up to three lives. Register as a donor
            today and join the Blood Lagbe community.
          </p>
          <a
            href="{% if user.is_authenticated %}{% url 'log-donation' %}{% else %}{% url 'signup' %}{% endif %}"
            class="btn bg-white text-danger font-xssss fw-600 ls-3 style1-input mt-3 p-3 border-0 text-uppercase d-inline-block"
            >{% if user.is_authenticated %}Log a Donation{% else %}Become a Donor{% endif %} <i class="feather-arrow-right font-lg mt-1"></i></a
          >
        </div>
      </div>
      </div>


    </div>
  </div>
  </div>
  {% endblock body %}
